/* Add application styles & imports to this file! */

body{
  background-image: url(https://a.rgbimg.com/users/b/ba/ba1969/600/mxc1A60.jpg);
  width: 90%;
  height: auto;
  background-repeat: repeat;
  opacity: .8;

 }

